## Lynda.com 
NumPy Data Science Essential Training: single elements

In [29]:
import numpy as np

In [30]:
my_vector = np.array([-17, -4, 0, 2, 21, 37, 105])
# use a python list to create an array

In [31]:
# see the values stored in my_vector
my_vector

array([-17,  -4,   0,   2,  21,  37, 105])

### indexing

In [32]:
# select the 0th element/position
my_vector[0]

-17

In [33]:
# select the 3rd element from the end of the array
my_vector[-3]

21

In [34]:
# out of range indexing will give you an error
my_vector[305]

IndexError: index 305 is out of bounds for axis 0 with size 7

In [ ]:
# we know that we have 7 elements in our array
# we can use modulo division
305 %7 # 305 divide by 7 gives the remainder 4

In [ ]:
# now use the modulo division to index
my_vector[305%7] # you get the 4th element from the zero-based index

### reassigning values to a position/element

In [ ]:
# reassign the value of the 0th element
my_vector[0] = -102 # it's now -102
my_vector

### check size of an array

In [35]:
my_vector.size # this array contains 7 elements

7

In [36]:
# index with modulo division but you don't know the size of your array
# you can do it in the following way
my_vector[305 % my_vector.size]

21

### Two Dimensional Arrays

In [37]:
my_array = np.arange(35) # create an 1D array that has elements numbered from 0 to 34
my_array.shape = (7,5) # reshape this array to make it 2D, 7 rows by 5 columns
my_array

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34]])

In [39]:
# to access the 3rd row of this array (or the 2nd row in zero-based index)
my_array[2]

array([10, 11, 12, 13, 14])

In [40]:
my_array[-0]

array([0, 1, 2, 3, 4])

In [41]:
# to access the second last row
my_array[-2]

array([25, 26, 27, 28, 29])

In [42]:
# to access the last row
my_array[-1]

array([30, 31, 32, 33, 34])

In [43]:
# to access one specific number
# you do array[row, column]
my_array[5, 2] # remember it's zero-based. so 0,1,2,3,4,5th row and 0,1,2nd column

27

In [44]:
# a more practical approach in data science world to index in a 2D array
row = 5
column = 2
my_array[row, column]

27

In [45]:
# same thing but different expression
my_array[5][2]

27

### Three Dimensional Arrays

In [47]:
my_3D_array = np.arange(70) # create a 1D array with 70 elements from 0 to 69
my_3D_array.shape = (2, 7, 5) # reshape it into a 3D array with two 2D arrays
# each 2D array has 7 rows and 5 columns
# so 2 by 7 by 5
my_3D_array

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34]],

       [[35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49],
        [50, 51, 52, 53, 54],
        [55, 56, 57, 58, 59],
        [60, 61, 62, 63, 64],
        [65, 66, 67, 68, 69]]])

In [48]:
# to access the 2nd 2D array in this 3D array
my_3D_array[1]

array([[35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44],
       [45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54],
       [55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64],
       [65, 66, 67, 68, 69]])

In [49]:
# to acces the 4th row of the 2nd 2D array in this 3D array
my_3D_array[1, 3]

array([50, 51, 52, 53, 54])

In [50]:
# to access the 3rd element in the 4th row of the 2nd 2D array in this 3D array
my_3D_array[1, 3, 2]

52

In [51]:
# reassign a value to a single element in this 3D array
my_3D_array[1, 3, 2] = 1111
my_3D_array

array([[[   0,    1,    2,    3,    4],
        [   5,    6,    7,    8,    9],
        [  10,   11,   12,   13,   14],
        [  15,   16,   17,   18,   19],
        [  20,   21,   22,   23,   24],
        [  25,   26,   27,   28,   29],
        [  30,   31,   32,   33,   34]],

       [[  35,   36,   37,   38,   39],
        [  40,   41,   42,   43,   44],
        [  45,   46,   47,   48,   49],
        [  50,   51, 1111,   53,   54],
        [  55,   56,   57,   58,   59],
        [  60,   61,   62,   63,   64],
        [  65,   66,   67,   68,   69]]])